{
  "parser": "babel-eslint",
  "extends": "standard",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": 0,
    "one-var": 0,
    "no-unused-vars": 0,
    "no-mixed-operators": 0
  }
}
